/*-------------------------------------------------------Home_page-------------------------------------------------*/
.home-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.neuox-container {
  position: relative; 
  font-size: 4vw; /* Adjust font size */
  font-weight: bold;
  color: #fff; 
  z-index: 1; 
}

.neuox-text {
  display: inline-block;
  opacity: 0;
  animation-name: zoomInOut;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  25% {
    transform: scale(1.5);
    opacity: 1;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* Stagger animation delay for each letter */
.neuox-text:nth-child(1) {
  animation-delay: 0.1s; /* Delay for 'N' */
}
.neuox-text:nth-child(2) {
  animation-delay: 0.2s; /* Delay for 'e' */
}
.neuox-text:nth-child(3) {
  animation-delay: 0.4s; /* Delay for 'u' */
}
.neuox-text:nth-child(4) {
  animation-delay: 0.6s; /* Delay for 'o' */
}
.neuox-text:nth-child(5) {
  animation-delay: 0.8s; /* Delay for 'X' */
}




.line {
  position: relative;
  width: 8px; 
  height: 7vh; 
  overflow: hidden;
  background-color: white; /* Initial color of the line (white) */
  opacity: 0; /* Initially hide the line */
  animation: showLine 0.5s ease forwards; /* Animation to show the line */
}

.line-1 {
  position: relative;
  transform: skewX(-36deg);
  margin-left: 15px;
  margin-top: 3px;
  animation-delay: 1s; 
}

.line-2 {
  transform: skewX(36deg);
  margin-left: -6px;
  margin-top: 3px;
  animation-delay: 1s; /* Delay line-2 by 2.5s */
}

@keyframes showLine {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.line::before {
  content: '';
  position: absolute;
  top: 100%; /* Initially position at the bottom of the container */
  left: 0;
  width: 100%;
  height: 100%; /* Initially hidden */
  background-color: #07A3FC; /* Red color - will be overridden by animation */
  animation: colorFill 1s linear forwards;
  animation-delay: 1.5s; 
}

@keyframes colorFill {
  0% {
    top: 100%; /* Start at the bottom */
    height: 0; /* No visible height */
  }
  100% {
    top: 0; /* End at the top */
    height: 100%; /* Full height */
  }
}

@keyframes hideElements {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.neuox-container,
.vertical-line {
  animation: hideElements 0.8s ease forwards;
  animation-delay: 2.5s; /* Delay the animation by 3 seconds */
}

.neuox-contain {
  display: flex;
  align-items: center; 
  justify-content: space-between; /* Distribute items along the main axis */
  z-index: 2;
  position: relative; 
  padding: 0 5%; /* Add padding for spacing */
}

.neuox-contain-1 {
  flex: 1; /* Take up remaining space */
}

.neuox-contain-2 {
  display: flex;
  align-items: center; 
  position: relative; 
  color: #fff;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 1.3vw;
}

.tab {
  margin-left: 4%;
  display: flex;  
  position: relative;
  cursor: pointer;
}

.tab::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #09A4FC;
  transition: width 0.3s ease, left 0.3s ease; /* Add transition for width and left */
}

.tab:hover::after {
  width: calc(100% - 2px); 
  left: 50%; 
}


.neuox-contain-img{
  width: 10vw;
  height: 10vh;
}


.appearing-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: linear-gradient(to bottom, #2d2d2d 10%, #202020 30%, transparent );
  z-index: 2;
  opacity: 0;
  animation: slideUpBox 0.5s ease forwards;
  animation-delay: 3s; /* Delay the animation after previous elements disappear */
}


@keyframes slideUpBox {
  0% {
    opacity: 0;
    transform: translateY(100%); /* Start from below the screen */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Move to the top of the screen */
  }
}


.appearing-box-1 {
  position: absolute;
  width: 30%;
  height: 60%;
  right: 5%;
  bottom: 0;
  background-color: rgba(252, 250, 250, 0.2);
  opacity: 0;
  animation: slideUpBox 0.5s ease forwards;
  animation-delay: 3s; 
  color: #fff;
}

.welcome-text{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

.welcome-text-1{
  display: flex;
  margin-top: 7%;
  font-size: 1.2vw;
  font-weight: bold;
}

.welcome-text-2{
  font-size: 5vw;
  margin-top: 5%;
}

.welcome-text-3{
  color: #007bff;
  font-size: 4vw;
  margin-left:1.1%;
}

.welcome-text-4{
  margin-left:1%;
  color: #007bff;
}

.welcome-text-5{
  font-size: 1.5vw;
  margin-left: 1.1%;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); /* Start off-screen to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Move to the original position */
  }
}

.welcome-text-3 {
  opacity: 0; /* Initially hidden */
  animation: fadeInLeft 0.5s ease forwards;
  animation-delay: 3.5s; /* Delay the animation */
}


.welcome-text-4 {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
  animation-delay: 3.5s;
}


.welcome-text-4:hover {
  opacity: 1;
}







/*-------------------------------------------------------detail_page-------------------------------------------------*/

.detail_page{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #fff ;
}

.detail-box-1{
  position: relative;
  width: 50%;
  top: 15%;
}



.detail-text-1{
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 15%;
}

.detail-text-2{
  display: flex;
  font-size: 1rem;
  margin-top: 35px;
  margin-left: 15%;
  max-width: 78%;
}

.detail-text-3{
  display: flex;
  margin-bottom: 50px ;
  color: #b0b4b7;
}


.detail-box-2{
  position: absolute;
  width: 50%;
  top:15%;
  right: 0;
}

.Detail_video{
  position: absolute;
  display: flex;
  width: 50%;
  margin-top: 15%;
}

.detail-text-6{
  position: relative;
  right: 0;
  bottom: 85%;
}





/*-------------------------------------------------------Design_page-------------------------------------------------*/

.Design_page {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #333;
  color: #fff;
}

.Design_page {
  display: grid;
  grid-template-columns: 45% 50% 5%;
}

.Design_part {
  background-color: #333;
}

.Design_contain {
  display: flex;
  background-color: #333;
  align-items: center;
}

.Design_contain-01,
.Design_contain-02,
.Design_contain-03,
.Design_contain-04,
.Design_contain-05 {
  display: none;
}

.contain_text-01,
.contain_text-04,
.contain_text-07,
.contain_text-10,
.contain_text-13 {
  display: flex;
  margin-left: 20%;
  font-size: 10rem;
  margin-top: 5px;
}

.contain_text-02,
.contain_text-05,
.contain_text-08,
.contain_text-11,
.contain_text-14 {
  display: flex;
  margin-left: 09%;
  font-size: 2rem;
  color: #07A3FC;
  margin-left: 22%;
}

.contain_text-03,
.contain_text-06,
.contain_text-09,
.contain_text-12,
.contain_text-15 {
  display: flex;
  margin-left: 22%;
  margin-right: 10%;
  font-size: larger;
  width: 55%;
}

.contain_text-16{
  position: absolute;
  right: 10%;
  
}

.contain_text-17,
.contain_text-18,
.contain_text-19,
.contain_text-20,
.contain_text-21{
  position: absolute;
  width: 30%;
  top: 30%;
  left: 15%;
}

.contain_text-21,
.contain_text-20{
width: 25%;
}

.Design_bars {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
  height: 100%;
  gap: 1px;
}

.Design_bar {
  display: flex;
  width: 30%;
  height: 13vh;
  background-color: #b0b4b7;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  
}

.Design_bar:hover {
  background-color: #fff; /* Change background color to white on hover */
}

.show {
  display: block;
}

.hide {
  display: none;
}

.contain_text-moreover{
  position: absolute;
  right: 12%;
}

/*-------------------------------------------------------Technology_page-------------------------------------------------*/


.ScrollAnimation{
  position: relative;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}

.ScrollAnimation-box1{
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #fff;
  z-index: 1;
}

.ScrollAnimation-box2 {
  position: absolute;
  width: 100%;
  height: 60vh;
  overflow-y: auto;
  transition: transform 1s ease-in-out;
  transform: translateY(0); /* Assuming 'animate' is true by default */
  z-index: 3;
}

.ScrollAnimation-box2.expanded {
  height: 120vh;
}


.Technology_page_line{
  position: absolute;
  width: 20%;
  height: 0.2%;
  background-color: #b0b4b7;
  right: 5%;
  top:20%
}

.Technology_page_line-1{
  position: absolute;
  width: 0.1%;
  height : 40vh;
  background-color: #b0b4b7;
  right: 10%;
  top:5%;
}


.ScrollAnimation-text{
  position: relative;
  font-size: 6rem;
  top: 5% ;
  left: 5%;
}
.ScrollAnimation-text-1{
  position: relative;
  font-size: 6rem;
  top: 5% ;
  left: 5%;
  color: #007bff;
}

.ScrollAnimation-text,
.ScrollAnimation-text-1,
.Technology_page_line,
.Technology_page_line-1 {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.Technology_page_line,
.Technology_page_line-1 {
  position: absolute;
  background-color: #b0b4b7;
  opacity: 1;
  transition: opacity 1s ease-in-out; 
}

.fade-out {
  opacity: 0;
}


.ScrollAnimation-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 5px;
}

.Details_EGG {
  position: relative;
  left: 10%;
}

.Details_Facial {
  position: relative;
  top: 80%;
}

.Details_Eye {
  position: relative;
  top: 150%;
  right: 5%;
  bottom: 15%;
}

.Details_img{
  width: 380px;
  height: 300px;
}

.Details_text-1{
  color: #202020;
  font-weight: bolder;
}

.Details_text-2{
  color: #007bff;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: larger;
}

.Details_text-3{
  max-width: 360px;
  margin-top: 20px;
  margin-bottom: 20px;
}



/*-------------------------------------------------------Service_page-------------------------------------------------*/


.Service_page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Service_page_content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
  
}
/* Style for card container */
.Service_page_card {
  position: relative;
  width: 20vw;
  height: 60vh;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  margin-bottom: 20px;
  color: #333;
}

/* Style for card image */
.Service_card_image {
  display: flex;
  width: 100%;
  border-radius: 8px;
}

/* Style for text content within the card */
.Service_page_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* Style for main text */
.Service_page_text-1 {
  font-weight: 600;
  font-size: 2.5vw;
  margin-bottom: 25%;
}

/* Style for secondary text */
.Service_page_text-2 {
  position: absolute;
  font-size: 1vw;
  margin-bottom: 5px;
  bottom: 5%;
  
}

/* Style for tertiary text (Read full post) */
.Service_page_text-3 {
  position: absolute;
  font-size: 1vw;
  margin-bottom: 5px;
  bottom: 5%;
  right: 13%;
}

/* Style for icon */
.Service_page_text-4 {
  position: absolute;
  right: 5%;
  bottom: 4%;
}

.Service_page_text-5{
  position: absolute;
  right: 5%;
  bottom: 5%;
  color: #333;
}

/*-------------------------------------------------------Solution_page-------------------------------------------------*/

.Solution_page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video_Solution {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Solution_page-text{
  position: absolute;
  color: white;
  font-size: 6vw;
  left: 5%;
  z-index: 1;
  top: 8%; 
  display: flex;
  flex-direction: column;
}



.Solution_page-text > div {
  margin-bottom: -10px; /* Adjust as needed to reduce vertical spacing */
}


.Solution_page-text-2 {
  color: white;
  font-size: 6vw;
  transition: font-size 0.5s ease, color 0.5s ease; /* Add transition for font-size and color */
}

.Solution_page-text-2.animated {
  font-size: 8vw;
  font-weight: bolder;
  color: #07A3FC;
}

/*-------------------------------------------------------Testimonaial_page-------------------------------------------------*/

.Testimonial_container {
  width: 100vw;
  height: 120vh;
  background-image: url('../data/Testimonial.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; 
}

.Testimonial_container_text {
  font-size: 7vw;
  color: #fff;
  display: flex;
  margin-left: 5%;
  margin-top: 4%;
}

.Testimonial_container_text-1 {
  position: relative;
  font-size: 7vw;
  color: #07A3FC;
  margin-left: 5%;
  bottom: 5%;
}

.Testimonal_sample{
  position: relative;
  bottom: 15%;
}




/*-------------------------------------------------------Partners_page-------------------------------------------------*/

.Partners_page {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
}

.Partners_page_text-1 {
  position: relative;
  display: flex;
  font-size: 6vw;
  margin-top: 5%;
  margin-left: 5%;
}

.Partners_page_text-2 {
  position: relative;
  font-size: 6vw;
  color: #09A4FC;
  margin-left: 5%;
  bottom: 2%;
}
.Partners_page_brands_container {
  display: flex;
  width: fit-content; /* Adjust width to fit the content (images) */
  animation: scroll 20s linear infinite;
}
.Partners_page_brands {
  position: relative;
  width: 100vw;
  overflow: hidden; 
  display: flex;
  flex-direction: row ;
  top: 25%;
  align-items: center;
}

.Partners_page_img {
  width: 15vw;
  height: 15vh;
  margin-right: 50px; /* Add spacing between images */
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}


/*-------------------------------------------------------Joinus_page-------------------------------------------------*/


.Joinus_page {
  display: grid;
  grid-template-rows: 60% 40%; 
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #202020;
}

.Joinus_page_video {
  background-color: #202020; 
}

.Joinus_page_text {
  background-color: #202020; 
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Joinus_video{
  position: relative;
  width: 90vw;
  height: 72vh;
  object-fit: cover;
  left: 5%;
}

.joinus_button {
  position: relative;
  display: flex;
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  font-size: 1.5vw;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 20%;
  width: 15%;
  border-radius: 30px;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
  margin-left: 15%;
}

.Joinus_arrow{
  position: relative;
  
}

.Joinus_text-1{
  position: relative;
  color: #fff;
  font-size: 6vw;
  top: 30px;
  left: 20px;
}


.joinus_box {
  display: flex;
  width: 90vw;
  height: 30vh;
  background-color: #202020;
  border: 1px solid #565758;
  margin-top: 10%;
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
  .line {
    height: 5vh; /* Adjusted height for screen width between 1600px and 1920px */
  }
}



/*-------------------------------------------------------Footer_page-------------------------------------------------*/


.Footer_page {
  position: relative;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  background-color: #fff;
}

.Footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
}

.Footer-item-1,
.Footer-item-2{
  height: 100vh;
  margin-top: 20%;
}

.Footer-item-1{
  position: relative;
  margin-left: 10%;
  color: #9B9B9C;
  font-size: 1.5vw;
  max-width: 75%;
  bottom: 10%;
}


.Footer-text-2{
  display: flex;
  justify-content: space-around;
  max-width: 50%;
  margin-left: -5%;
  margin-top: 5%;
}

.Footer-text-3{
  position: relative;
  right: 20% ;
  bottom: 12%;
}
.Footer-text-4{
  position: relative;
  right: 20% ;
  bottom: 12%;
}

.Footer-text-5{
  position: relative;
  bottom: 12%;
}

.Footer-item-2{
  display: grid;
  grid-template-columns: repeat(3, 1fr) 0.5fr;
  margin-left: 10px;
}

.Footer-text-header{
  color: #07A3FC;
  font-size: 1.7vw;
  font-weight: bolder;
  padding-bottom: 10px;
  margin-top: 10%;
}

.Footer-text-subheader{
  color: #9B9B9C;
  margin-top: 20px;
  max-width: 150%;
  font-size: 1.5vw;
}

.Fotter_logo{
  width: 10vw;
  height: 10vh;
}

.Footer-text-subheader > .MuiSvgIcon-root {
  color: #07A3FC; 
}

.EmailIcon,
.CallIcon,
.LocationOnIcon{
  position: absolute;
  margin-left: -32px;
}

.Footer-item-3{
  position: absolute;
  top: 15%;
  right: 2%;
}

.Fotter-More_Over{
  width: 5vw;
  height: 10vh;
}


/*-------------------------------------------------------Sample_page-------------------------------------------------*/
/* styles.css */

.card-main {
  position: relative;
  width: 21vw;
  height: 65vh;
  align-items: center;
  display: flex;
  background-color: #dcdcdc;
  padding: 17px;
  border-radius: 10px;
  top: 13%;
}

.card-title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 19px;
}

.card-text {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  text-align: center;
}


.rating,
.card_profile{
  position: relative;
  display: flex;
  justify-content: center;
}

.rating{
 margin-bottom: 10%;
}

.card_profile_name{
  display: flex;
  justify-content: center;
  color:#007bff;
  margin-bottom: 10%;
}




/*-------------------------------------------------------Into_Technology_page-------------------------------------------------*/


.AboutUs {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
}

.AboutUs-contain {
  display: flex;
  width: 100%;
  height: 100vh;
}

.AboutUs-left {
  width: 50%; 
}



.AboutUs-left-1{
  position: relative;
  top: 15%;
}

.AboutUs-left-2{
  position: relative;
  top: 20%;
  left: 5%;
  max-width: 90%;
  font-size: 2.5vw;
  font-weight: bold;
}

.AboutUs-left-3{
  position: relative;
  top: 28%;
  left: 5%;
  max-width: 90%;
  font-size: 1.5vw;
}
.AboutUs-right{
  position: relative;
  width: 50%;
  top: 15%;
}

/*
.AboutUs-right_video{
  display: flex;
  position: relative;
  width: 500px;
  margin-left: 15%;
}
*/



.AboutUs-right-2{
  position: absolute;
  display: flex;
  right: 0;
  margin-top: 15%;
}

.AboutUs-right-1{
  display: flex;
  margin-left: 15%;
}

.AboutUs-right_MoreOver{
  position: absolute;
  display: flex;
  margin-left: 15%;
  top: 60%;
}



@media screen and (min-width: 1300px) and (max-width: 1980px) {
  
  .AboutUs-right_video{
    width: 700px;
  }
  
  .AboutUs-left-2{
    font-size: 3rem;
  }

  .AboutUs-left-3{
    font-size: 2rem;
  }

  .AboutUs-right-1{
    font-size: larger;
  }
  
}